@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700');
@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  background: #fff;
  color: #444;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #007bff;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #0b6bd3;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

.orange-text {
	color: #FFD700;
}

.blue-text {
	color: #0b6bd3;
}


#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 20px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a {
  color: #00366f;
  text-decoration: none;
}
#header .logo h1 a:hover {
  color: #0b6bd3;
  text-decoration: none;
}

.main-pages {
  margin-top: 60px;
}

#intro {
  width: 100%;
  position: relative;
  background: url("../../files/header-content.jpg");
  background-size: cover;
  padding: 200px 0 120px 0;
  height: 700px;
}

.main-nav,
.main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.main-nav a {
  display: block;
  position: relative;
  color: #004289;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.main-nav a:hover,
.main-nav .active > a,
.main-nav li:hover > a {
  color: #007bff;
  text-decoration: none;
}

.section-header h3 {
  font-size: 36px;
  color: #283d50;
  text-align: center;
  font-weight: 500;
  position: relative;
}

.section-header p {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #556877;
  width: 50%;
}

.section-bg {
  background: #ecf5ff;
}

#notes p {
  font-size: 12px;
  line-height: 2px;
}

#about {
  background: #fff;
  padding: 60px 0;
}

#about .about-extra {
  padding-top: 60px;
}

#notes .notes hr {
  padding-bottom: 60px;
}


#about .about-extra h4 {
  font-weight: 600;
  font-size: 24px;
}

#about .about-extra .note {
  font-size: 10px;
  vertical-align: text-top;
}

#about .about-extra li {
  padding: 5px;
}

#about .img-fluid {
  border-radius: 20px;
}

#about .btn {
	font-size:14px;
	font-weight:800;
	padding:15px 25px;
	letter-spacing:1px;
	text-transform:uppercase;
	border-radius:10px;
	font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif
}

#about .btn-primary {
	background-color:#0085a1;
	border-color:#0085a1
}

#about .btn-primary:active,.btn-primary:focus,.btn-primary:hover {
	color:#fff;
	background-color:#00657b!important;
	border-color:#00657b!important
}


#footer {
  background: #00428a;
  padding: 0 0 30px 0;
  color: #eee;
  font-size: 14px;
}

#footer .footer-top {
  background: #004a99;
  padding: 60px 0 30px 0;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .social-icons {
	color: #ffffff;
	font-size: 50px;
}

#footer .social-icons:hover {
	color: #1d77a3;
	font-size: 50px;
}

@media (max-width: 991px) {
  #header {
    height: 60px;
    padding: 10px 0;
  }

  #header .logo h1 {
    font-size: 28px;
    padding: 8px 0;
  }

  #intro {
    padding: 140px 0 60px 0;
  }
}

.service-boxes .card {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  margin: 0 10px 40px 10px;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
}

.service-boxes .card:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.service-boxes .card-title a {
  color: #111;
}

.service-boxes .card:hover .card-title a {
  color: #007bff;
}

.vip-boxes .box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: #E7E7E7;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
}

.vip-boxes .box:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.vip-boxes .title {
  margin-left: 40px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.vip-boxes .title a {
  color: #111;
  font-weight: 600;
  font-size: 24px;
}

.vip-boxes .box:hover .title a {
  color: #007bff;
  font-weight: 600;
  font-size: 24px;
}

.vip-boxes .description {
  font-size: 14px;
  margin-left: 40px;
  line-height: 24px;
  margin-bottom: 0;
}

.vip-boxes .description-top {
  font-size: 14px;
  font-weight: 600;
  margin-left: 40px;
  line-height: 24px;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

@media (max-width: 767px) {

  .section-header p {
    width: 100%;
  }
}

@media (max-width: 574px) {
  #intro {
    padding: 100px 0 20px 0;
  }
}


.cookieConsentContainer {
	z-index: 999;
	width: 350px;
	min-height: 20px;
	box-sizing: border-box;
	padding: 30px 30px 30px 30px;
	background: #232323;
	overflow: hidden;
	position: fixed;
    bottom: 30px;
	right: 30px;
	display: none;
}
.cookieConsentContainer .cookieTitle a {
	font-family: OpenSans, arial, "sans-serif";
	color: #FFFFFF;
	font-size: 22px;
	line-height: 20px;
	display: block;
}
.cookieConsentContainer .cookieDesc p {
	margin: 0;
	padding: 0;
	font-family: OpenSans, arial, "sans-serif";
	color: #FFFFFF;
	font-size: 13px;
	line-height: 20px;
	display: block;
	margin-top: 10px;
} .cookieConsentContainer .cookieDesc a {
	font-family: OpenSans, arial, "sans-serif";
	color: #FFFFFF;
	text-decoration: underline;
}
.cookieConsentContainer .cookieButton a {
	display: inline-block;
	font-family: OpenSans, arial, "sans-serif";
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	margin-top: 14px;
	background: #000000;
	box-sizing: border-box; 
	padding: 15px 24px;
	text-align: center;
	transition: background 0.3s;
}
.cookieConsentContainer .cookieButton a:hover { 
	cursor: pointer;
	background: cyan;
}

@media (max-width: 980px) {
	.cookieConsentContainer {
		bottom: 0px !important;
		left: 0px !important;
		width: 100%  !important;
	}
}

#about .pricing-table {
  font-family: 'Montserrat', sans-serif;
  padding-top: 60px;
}

#about .pricing-table .block-heading {
  padding-top: 50px;
  margin-bottom: 40px;
  text-align: center; 
}

#about .pricing-table .block-heading h2 {
  color: #3b99e0;
}

#about .pricing-table .block-heading p {
  text-align: center;
  max-width: 420px;
  margin: auto;
  opacity: 0.7; 
}

#about .pricing-table .heading {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
}

#about .pricing-table .item {
  background-color: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  border-top: 2px solid #5ea4f3;
  padding: 30px;
  overflow: hidden;
  position: relative; 
}

#about .pricing-table .col-md-5:not(:last-child) .item {
  margin-bottom: 30px; 
}

#about .pricing-table .item button {
  font-weight: 600; 
}

#about .pricing-table .ribbon {
  width: 160px;
  height: 32px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  box-shadow: 0px 2px 3px rgba(136, 136, 136, 0.25);
  background: #4dbe3b;
  transform: rotate(45deg);
  position: absolute;
  right: -42px;
  top: 20px;
  padding-top: 7px; 
}

#about .pricing-table .item p {
  text-align: center;
  margin-top: 20px;
  opacity: 0.7; 
}

#about .pricing-table .features .feature {
  font-weight: 600; }

#about .pricing-table .features h4 {
  text-align: center;
  font-size: 18px;
  padding: 5px; 
}

#about .pricing-table .price h4 {
  margin: 15px 0;
  font-size: 45px;
  text-align: center;
  color: #2288f9; 
}

#about .pricing-table .buy-now button {
  text-align: center;
  margin: auto;
  font-weight: 600;
  padding: 9px 0; 
}

@media (min-width: 992px) {
  #about .pricing-table .item:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  #about .pricing-table .item:hover .btn {
    opacity: 1;
  }
}